@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  @apply bg-slate-300 text-black h-full w-full border-black;
}

body {
  @apply h-full w-full;
  margin: 0;
  padding: 0;
  display: block;
}

#app {
  @apply h-full w-full;
  margin: 0;
  padding: 0;
}

a {
  @apply relative font-bold rounded p-2 cursor-pointer
  text-gray-500;

  &:hover {
    @apply text-black;
  }
}

button {
  @apply relative font-bold rounded p-2
  text-black bg-slate-300
  border border-black border-2
  uppercase
  px-4;

  box-shadow: 0rem 0.2rem 0.2rem #3333;

  &:hover {
    @apply text-slate-100 bg-black;

    &:active {
      @apply text-white;
      top: 3px;
      box-shadow: none;
    }
  }

  &.success {
    @apply text-green-500 border-green-500;

    &:hover {
      @apply text-slate-100 bg-green-500;
    }
  }

  &.danger {
    @apply text-red-500 border-red-500;

    &:hover {
      @apply text-slate-100 bg-red-500;
    }
  }
}

.card {
  @apply bg-slate-300 border border-black border-2 rounded cursor-default;
  font-size: 9rem;
  line-height: 5rem;
  padding-bottom: 2rem;
  text-indent: -0.6rem;
  letter-spacing: -0.6rem;
  overflow: hidden;
}
