@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  font-family: "Times New Roman", Times, serif;
  @apply bg-green-700 text-black h-full w-full;
}

body {
  @apply h-full w-full;
  margin: 0;
  padding: 0;
  display: block;
}

#app {
  @apply h-full w-full;
  margin: 0;
  padding: 0;
}
